
.window {
    -fx-background-color: rgba(0,0,0,0.005);
    -fx-padding: 8px;
}

.stage {
    -fx-border-color: rgba(127,127,127, 0.5);
    -fx-border-inset: -1;
	-fx-background-color: -fx-background;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0, 0, 0);
}

.window:focused .stage {
    -fx-border-color: rgba(127,127,127, 1);
}


.title-bar {
    -fx-pref-height: 32px;
	-fx-background-color: transparent;
}

.window:focused .title-bar {
    -fx-background-color: rgba(104,118,138, 1);
}

.title-bar .title-header {
    -fx-alignment: center;
    -fx-padding: 0 0 0 8;
    -fx-spacing: 4px;
}

.title-bar .title-header .icon{
    -fx-fit-width: 16;
    -fx-fit-height: 16;
}

.title-bar .title-header .title {
    -fx-fill: grey;
    -fx-font-size: 12px;
}

.window:focused .title-bar .title-header .title {
    -fx-fill: white;
}

.title-bar .button-bar {
    -fx-spacing: 0px;
    -fx-alignment: center;
}

.title-bar .button-bar .button {
    -fx-padding: 0px;
    -fx-exact-width: 45px;
    -fx-exact-height: 32px;

    -fx-min-width: -fx-exact-width;
    -fx-max-width: -fx-exact-width;
    -fx-pref-width: -fx-exact-width;

    -fx-min-height: -fx-exact-height;
    -fx-max-height: -fx-exact-height;
    -fx-pref-height: -fx-exact-height;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.title-bar .button-bar .button:hover {
    -fx-background-color: rgba(127,127,127, 0.25);
}
.window:focused .title-bar .button-bar .button:hover {
    -fx-background-color: rgba(255,255,255, 0.25);
}
.title-bar .button-bar .button:pressed {
    -fx-background-color: rgba(127,127,127, .5);
}

.title-bar .button-bar .action-close:hover {
    -fx-background-color: rgba(232,17,35, 0.5);
}
.window:focused .title-bar .button-bar .action-close:hover {
    -fx-background-color: rgba(232,17,35, 0.75);
}
.title-bar .button-bar .action-close:pressed {
    -fx-background-color: rgba(232,17,35, 1);
}

.title-bar .button-bar .button * {
    -fx-stroke: black;
}
.window:unfocused .title-bar .button-bar .button * {
    -fx-stroke: darkgrey;
}
.window:focused .title-bar .button-bar .button * {
    -fx-stroke: white;
}