.editor-wrapper {
	-fx-padding: 4px;
}
.editor-wrapper:hover {
	-fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-base, -10%);
}
.header {
    -fx-padding: 0 0 2 0;
}
.title {
    -fx-font-weight: bold;
}
