* {
  -fx-color-primary: #0096c9;
  -fx-color-secondary: #c90d00;
  -fx-color-tertiary: #c97200;
}

*:filtered {
    -fx-opacity: 0.5;
}

.java-type {
    -fx-text-fill: derive(-fx-color-primary, -0.5);
    -fx-font-weight: bold;
}

.node-id {
    -fx-text-fill: -fx-color-secondary;
}

.style-class {
    -fx-text-fill: -fx-color-tertiary;
    -fx-font-style: oblique;
}
